.manage-slides-page {
    background-color: rgba($color: #aaa, $alpha: 0.1);
    min-height: 100vh;
    padding: 10px;
    .title {
        font-size: 3.6rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
}
