.add-exercises-of-session-table {
    width: 60vw;
    .table-header,
    .table-body {
        .table-row {
            .table-cell {
                font-size: 1.3rem;
                min-height: 40px;
                padding: 0 4px;
                &:nth-of-type(1),
                &:nth-of-type(3) {
                    width: 18%;
                }
                &:nth-of-type(2) {
                    width: 25%;
                }
                &:nth-of-type(4) {
                    width: 35%;
                }
            }
        }
        #exercise-img::-webkit-file-upload-button {
            display: none;
        }
    }
    .table-body .table-row:hover {
        background-color: #eee;
    }
}
