.table-wrapper {
    display: flex;
    flex-direction: column;
    width: 70vw;

    .table-feature {
        display: flex;
        justify-content: space-between;
        .table-title {
            font-size: 3rem;
            font-weight: bold;
        }
        .table-tool {
            gap: 4px;
            .tool-button {
                position: relative;
                display: flex;
                align-items: center;
                svg {
                    color: #aaa;
                    padding: 4px;
                    border-radius: 4px;
                    transition: all 0.2s ease;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    &:hover {
                        background-color: #eee;
                    }
                }
            }
            .filter-box,
            .sort-box {
                padding: 10px;
                position: absolute;
                z-index: 3;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.2);
                pointer-events: none;
                transform: scale(0.95);
                transform-origin: 50% top;
                top: 120%;
                opacity: 0;
                transition: all 0.2s ease;
                &.open {
                    opacity: 1;
                    transform: scale(1);
                    pointer-events: auto;
                }
            }
            .filter-header,
            .sort-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    font-size: 2rem;
                }
            }
            .filter-criteria {
                display: flex;
            }
        }
    }

    .table-header {
        display: flex;
        .table-cell:not(:first-child) {
            flex: 1;
            justify-content: center;
        }
        input[type='checkbox'] {
            padding: 0 10px;
        }
    }

    .table-body {
        display: flex;
        flex-direction: column;
        z-index: 2;
        .table-row {
            border-top: 1px solid #ccc;
            display: flex;
            transition: background-color 0.2s ease;
            input[type='checkbox'] {
                outline: none;
            }

            &:has(input[type='checkbox']:checked) {
                background-color: #e0edfb;
            }

            &:last-child {
                border-bottom: 1px solid #ccc;
            }

            &.active {
                background-color: #e0edfb;
                z-index: 2;
            }
        }
        .table-row-overlay {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    .table-cell {
        min-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        & > svg {
            width: 16px;
            cursor: pointer;
            transition: all 0.4s ease;
            &:hover {
                transform: scale(1.2) rotate(45deg);
            }
        }
        &:not(:first-child) {
            flex: 1;
        }
        &:not(:last-child) {
            border-right: 1px solid #ccc;
        }
    }
}
