.dialog {
    .dialog-body {
        max-height: 80vh;
        overflow-y: scroll;
        font-size: 1.3rem !important;
    }
    .table-row {
        .table-cell {
            min-height: 40px;
            padding: 0 4px;
            &:nth-of-type(1) {
                justify-content: center;
                width: 4%;
            }
            &:nth-of-type(2) {
                width: 14%;
            }
            &:nth-of-type(3) {
                width: 14%;
            }
            &:nth-of-type(4) {
                width: 8%;
            }
            &:nth-of-type(5) {
                width: 8%;
            }
            &:nth-of-type(6) {
                width: 8%;
            }
            &:nth-of-type(7) {
                width: 10%;
            }
            &:nth-of-type(8) {
                width: 8%;
            }
            &:nth-of-type(9) {
                width: 12%;
            }
            &:nth-of-type(10) {
                width: 14%;
            }
        }
    }
}
