.exercise-table {
    margin-bottom: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 20px;
    .table-header,
    .table-body {
        div.table-row.add-row {
            color: #aaa;
            .table-cell:nth-of-type(2) {
                margin-left: 4px;
            }
        }
        .table-row {
            .table-cell {
                font-size: 1.3rem;
                min-height: 40px;
                padding: 0 4px;
                &:nth-of-type(1) {
                    justify-content: center;
                    width: 4%;
                }
                &:nth-of-type(2),
                &:nth-of-type(4) {
                    width: 18%;
                }
                &:nth-of-type(3) {
                    width: 25%;
                }
                &:nth-of-type(5) {
                    width: 35%;
                }
            }

            &.add-row .table-cell {
                &:nth-of-type(5) {
                    width: 15%;
                }
                &:nth-of-type(6) {
                    width: 20%;
                    .upload-icon {
                        width: 1.6rem;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
        #exercise-img::-webkit-file-upload-button {
            display: none;
        }
    }
}
