:root {
    --inactive-tag-bg-color: rgb(255, 0, 0);
    --hovered-inactive-tag-bg-color: rgb(196, 18, 18);
}

.slides-table {
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;

    .table-header,
    .table-body {
        .table-row {
            .table-cell {
                min-height: 30px;
                padding-left: 10px;
                &:nth-of-type(1) {
                    padding: 0;
                    justify-content: center;
                    width: 70px;
                }
                &:nth-of-type(2) {
                    padding-left: 30px;
                    justify-content: left;
                    flex: 1;
                    .field-wrapper {
                        padding: 0;
                        input {
                            padding: 0;
                        }
                    }
                }
                &:nth-of-type(3) {
                    width: 150px;
                    padding: 0;
                    justify-content: center;
                    button {
                        font-weight: 500;
                        position: relative;
                        cursor: pointer;
                        font-size: 12px;
                        display: block;
                        border-radius: 4px;
                        padding: 3px 0;
                        width: 75px;
                        transition: background-color ease 0.3s;
                        background-color: var(--inactive-tag-bg-color);
                        color: white;
                        border: none;
                        transition: background-color ease 0.3s,
                            border-radius ease 0.3s;
                        &:hover {
                            background-color: var(
                                --hovered-inactive-tag-bg-color
                            );
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
    }
    .table-body {
        margin-right: -4.5px;
        overflow-y: scroll;
        height: 65vh;
        /* Scrollbar styling for WebKit browsers */
        &::-webkit-scrollbar {
            width: 5px; /* Width of the scrollbar */
            height: 10px; /* Height of the scrollbar for horizontal scrolling */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888; /* Color of the scrollbar thumb */
            border-radius: 5px; /* Rounded corners for the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Color of the thumb when hovered */
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1; /* Background color of the scrollbar track */
            border-radius: 5px;
        }
    }

    label[for='slide-img'] {
        justify-content: center;
        #slide-img {
            font-size: 13px;
            width: 100px;
            cursor: pointer;
            &::-webkit-file-upload-button {
                display: none;
            }
        }
    }
}
