.select {
    select {
        padding: 4px;
        font-size: 1.6rem;
        background: none;
        border: none;
        outline: none;
        flex-grow: 1;
    }
    &.active {
        select + label {
            top: -16%;
            left: 14px;
            font-size: 1.2rem;
            color: rgba($color: #000000, $alpha: 0.6);
        }
    }
}
