.add-session {
    .dialog-container {
        width: 90vw;
    }
    .table-body {
        margin-right: -4px;
        overflow-y: scroll;
        height: 62vh;
        /* Scrollbar styling for WebKit browsers */
        &::-webkit-scrollbar {
            width: 4px; /* Width of the scrollbar */
            height: 10px; /* Height of the scrollbar for horizontal scrolling */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #eee; /* Color of the scrollbar thumb */
            border-radius: 5px; /* Rounded corners for the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #aaa; /* Color of the thumb when hovered */
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1; /* Background color of the scrollbar track */
            border-radius: 5px;
        }
        .table-cell {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
                background-color: #eee;
                cursor: not-allowed;
            }
        }
        & .add-row .table-cell {
            background-color: #fff;
            cursor: unset;
        }
    }
    .table-row {
        .table-cell {
            font-size: 1.3rem;
            min-height: 40px;
            padding: 0 4px;
            &:nth-of-type(1) {
                width: 20%;
            }
            &:nth-of-type(2),
            &:nth-of-type(9) {
                width: 14%;
            }
            &:nth-of-type(3) {
                width: 9%;
            }
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(7) {
                width: 6%;
            }
            &:nth-of-type(6) {
                width: 6%;
            }
            &:nth-of-type(8),
            &:nth-of-type(9),
            &:nth-of-type(10) {
                width: 9%;
            }
            &:nth-of-type(11) {
                justify-content: center;
                width: 6%;
                svg {
                    border-radius: 10px;
                    padding: 8px;
                    width: 3.2rem;
                    height: 3.2rem;
                    &:hover {
                        background-color: #eee;
                    }
                }
            }
        }
        &.add-row {
            .table-cell {
                color: #aaa;
                &:nth-of-type(1) {
                    width: 4%;
                    background-color: transparent;
                    justify-content: center;
                }
                &:nth-of-type(2) {
                    background-color: transparent;
                    margin-left: 10px;
                }
            }
        }
    }
}
