:root {
    --delete-btn-bg: rgb(250, 230, 230);
    --delete-btn-border: rgb(255, 0, 0);
    --male-gender-bg: rgb(50, 50, 255);
    --female-gender-bg: rgb(0, 121, 115);
}

.decision-schedule-dataset {
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    .table-wrapper {
        margin: 0;
    }
    .table-header,
    .table-body {
        .table-row {
            transition: background-color ease 0.3s;
            .table-cell {
                min-height: 30px;
                justify-content: center;
                &:nth-of-type(1),
                &:nth-of-type(2) {
                    width: 8%;
                }
                &:nth-of-type(3) {
                    width: 13%;
                }
                &:nth-of-type(4),
                &:nth-of-type(6) {
                    width: 11%;
                }
                &:nth-of-type(3) span.gender {
                    font-size: 11px;
                    color: #fff;
                    padding: 1px 6px;
                    border-radius: 4px;
                    &[plain='MALE'] {
                        background-color: var(--male-gender-bg);
                    }
                    &[plain='FEMALE'] {
                        background-color: var(--female-gender-bg);
                    }
                }
                &:nth-of-type(5) {
                    width: 19.5%;
                }
                &:nth-of-type(7) {
                    width: 14%;
                    & > span.schedule-id {
                        font-size: 11px;
                        color: #fff;
                        background-color: #000;
                        padding: 2px 6px;
                        border-radius: 10px;
                    }
                }
                &:nth-of-type(8) {
                    width: 15.5%;
                    button {
                        font-weight: 500;
                        position: relative;
                        cursor: pointer;
                        font-size: 12px;
                        display: block;
                        border-radius: 4px;
                        padding: 3px 0;
                        width: 75px;
                        border: var(--delete-btn-border) 1px solid;
                        color: var(--delete-btn-border);
                        background-color: var(--delete-btn-bg);
                        transition: background-color ease 0.3s,
                            border-radius ease 0.3s;
                        &:hover {
                            background-color: var(--delete-btn-border);
                            color: var(--delete-btn-bg);
                        }
                    }
                }
            }
            &:hover {
                cursor: pointer;
                background-color: #ddd;
            }
        }
        form.add-row {
            .table-cell {
                cursor: pointer;
                &:nth-of-type(6) {
                    cursor: auto;
                    background-color: #ddd;
                    color: #000;
                    font-weight: 500;
                }
                &:nth-of-type(7) {
                    width: 29.5%;
                    display: flex;
                    flex-wrap: wrap;
                }
                &:hover {
                    background-color: #ddd;
                }
                span.datalines_adding-form_schedule_id {
                    display: block;
                    width: 100% !important;
                    text-align: center;
                    padding: 5px 0;
                }
            }
            &:hover {
                background-color: #fff;
            }
        }
    }
    .table-body {
        margin-right: -4.5px;
        overflow-y: scroll;
        height: 65vh;
        /* Scrollbar styling for WebKit browsers */
        &::-webkit-scrollbar {
            width: 5px; /* Width of the scrollbar */
            height: 10px; /* Height of the scrollbar for horizontal scrolling */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888; /* Color of the scrollbar thumb */
            border-radius: 5px; /* Rounded corners for the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Color of the thumb when hovered */
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1; /* Background color of the scrollbar track */
            border-radius: 5px;
        }
    }
}
