.gender-field {
    .field {
        margin: 0 !important;
        .field-wrapper {
            justify-content: center;
        }
    }
}
.form-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        margin: 20px !important;
        gap: 4px;
        padding: 8px 16px !important;
    }
    svg {
        width: 2rem;
        height: 2rem;
    }
}
