.multi-select {
    cursor: inherit;
    &.open .field-wrapper {
        z-index: 2;
    }
    .selected-values {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        min-height: 20px;
        .placeholder {
            color: #888;
        }
        .selected-value {
            gap: 4px;
            padding: 0 4px;
            background-color: #ddf4ff;
            color: #0969da;
            border: 1px solid #0969da;
            border-radius: 6px;
            svg {
                width: 1.6rem;
                height: 1.6rem;
                color: #0969da;
                cursor: pointer;
            }
        }
    }

    .input-wrapper {
        flex: 1;
        margin-left: 4px;
        input {
            font-size: 1.6rem;
            width: 100%;
            min-width: 40px;
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    .options-container {
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 1px 1px 10px rgba($color: #000, $alpha: 0.1);
        width: 100%;
        max-height: 22vh;
        overflow-y: scroll;
        background-color: white;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 3;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .option {
        padding: 8px;
        cursor: pointer;
    }

    .option:hover {
        background-color: #f0f0f0;
    }
    &[data-active='true'] {
        .selected-values + label {
            top: 1px;
            left: 4%;
            margin-left: 2px;
            font-size: 1.2rem;
            color: rgba($color: #000000, $alpha: 0.6);
        }
        svg {
            color: black;
        }
        legend {
            max-width: none;
            padding-left: 2px;
        }
    }
}
.multi-select-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
