/* src/components/Dialog/Dialog.css */
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container {
    background: white;
    border-radius: 8px;
    padding: 20px;
    min-width: 32vw;
    max-width: 92vw;
    max-height: 90vh;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
        width: 3rem;
        height: 3rem;
        color: #ccc;
        border-radius: 50%;
        padding: 4px;
        transition: all 0.2s ease;
        &:hover {
            color: #aaa;
            background-color: #eee;
        }
    }
}

.close-button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
