.subscriptions-dialog {
    font-size: 13px;
    .dialog {
        height: 100vh;
    }
    .dialog .dialog-container {
        max-width: 80vw;
        height: 90vh;
    }
    .dialog .dialog-container .dialog-body .table-wrapper {
        height: 75vh;
    }
    .table-header,
    .table-body {
        .table-row {
            .table-cell {
                min-height: 30px;
                padding: 0 10px;
                &:nth-of-type(1) {
                    width: 10%;
                }
                &:nth-of-type(2) {
                    width: 14%;
                }
                &:nth-of-type(3),
                &:nth-of-type(7) {
                    width: 19%;
                }
                &:nth-of-type(4) {
                    width: 12%;
                }
                &:nth-of-type(5) {
                    width: 25%;
                }
                &:nth-of-type(6) {
                    width: 12%;
                    span {
                        font-size: 10px;
                        background-color: var(--coins-tag-color);
                        color: var(--coins-tag-border-color);
                        border: 1px solid var(--coins-tag-border-color);
                        border-radius: 12px;
                        padding: 0 4px;
                    }
                }
            }
        }
    }
}
