.add-sessions-of-schedule-table {
    width: 70vw;
    .table-header,
    .table-body {
        .table-row {
            .table-cell {
                font-size: 1.3rem;
                min-height: 40px;
                padding: 0 4px;
                &:nth-of-type(1) {
                    width: 20%;
                }
                &:nth-of-type(3) {
                    width: 10%;
                }
                &:nth-of-type(2) {
                    width: 25%;
                }
                &:nth-of-type(4) {
                    width: 27%;
                }
                &:nth-of-type(5) {
                    width: 12%;
                }
            }
        }
    }
    .table-body {
        max-height: 60vh;
        overflow-y: auto;
        /* Scrollbar styling for WebKit browsers */
        &::-webkit-scrollbar {
            width: 4px; /* Width of the scrollbar */
            height: 10px; /* Height of the scrollbar for horizontal scrolling */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ccc; /* Color of the scrollbar thumb */
            border-radius: 5px; /* Rounded corners for the thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #aaa; /* Color of the thumb when hovered */
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1; /* Background color of the scrollbar track */
            border-radius: 5px;
        }
        .table-row:hover {
            background-color: #eee;
        }
    }
}
