.forgot-password-form {
    display: flex;
    flex-direction: column;
    & > span {
        font-size: 1.4rem;
        color: #aaa;
        margin: 4px;
    }
    .form-button {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            margin: 10px 20px !important;
            gap: 4px;
            padding: 8px 16px !important;
        }
        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}
